@import 'mixin.sass'

.main-banner
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    .banner-img
        height: 400px
    .banner-caption


.home-dompet
    width: 30px
    line-height: 32px
    margin-right: 5px
    float: left
.saldo-container
    padding: 10px
.home-saldo
    width: 130px
    margin-right: 10px
    float: left
    .saldo-caption
        font-size: 12px
        font-weight: 400
        color: #6D6D6D
    .saldo-digit
        display: block
        color: #0F1019
        font-size: 14px
        font-weight: 600
        letter-spacing: 0.2px
.home-saldotbtn
    width: 90px
    float: right

.home-service-container
    margin-top: 20px
    padding-bottom: 20px
    .service-list
        max-width: 80px
        margin: auto
        @include card-default
        border-radius: 20px
        .service-img
            width: 40px
            line-height: 60px
            margin: auto
    .service-caption
        color: #4168B8
        text-align: center
        font-size: 12px
        font-weight: 400
        letter-spacing: 0.2px
        margin-top: 5px

.service-slide
    position: relative
    padding: 20px
    overflow: auto
    white-space: nowrap
    .card-service
        width: 100%
        min-width: 270px
        display: inline-block
        white-space: initial
        .card-service-list
            width: 95%

.bar-fund
    padding-top: 20px
.pb-text
    color: #6D6D6D
    font-size: 14px
    font-weight: 400
.investor
    padding-top: 20px
    .investor-text
        color: #0F1019
        font-size: 16px
        font-weight: 600
        letter-spacing: 0.2px
